@charset  "UTF-8";
@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas';
    src: url('fontes/bebasneue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif; 
    --fonte-destaque: 'bebas', cursive;
    --fonte-idroid: 'Android', cursive;
}



html,body,h1,ul{
    
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-family: 'bebas';

}
body{
    background-color:var(--cor0);

}
header{
    text-align: center;
    color: white;
    background-color: var(--cor5);
    margin: 0px 0px;
    background-image:linear-gradient(to bottom,var(--cor3),var(--cor5)); 
   
    
}
h1{
    font-size: 30px;
    padding: 30px;
    text-shadow: 5px 5px 5px black;
    text-transform: uppercase;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

h2{
    background-image:linear-gradient(to right, var(--cor1), transparent); 
    text-align: left;
    color:var(--cor5);
    font-family: 'Android';
    
}

.externo{
    color:var(--cor5);
    text-decoration: none;
    font-weight: bold;
    background-image:linear-gradient(to left,#51e977,#3aac56e0,#29773c8a,#24663434);

    
}
a.externo::after {
    content: '\00A0\1F517';}

a.fim::after {
     content :\&rgb(0, 0, 0);
}



nav > ul> li > a {
    text-align: left;
    text-decoration: none;
    color: white;
    background-color: var(--cor5);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav > ul > li { 
    display: inline-block;
    padding: 10px;

    
    

}

nav > ul > li:hover {
  
    border-radius: 5px;
    color: white;
    transition-duration: 0.3s;
    background-color: var(--cor5);
    
   
    
}
nav{
    text-align: left;
    font-family: 'bebas';
    box-shadow: 0px 7px 7px black;
    
}
    
    
    

#subtitulo{
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-size: 20px;
    margin-bottom:100px;
 
}

#subtitulo2{
    text-align: left;
    color: var(--cor5);
    text-shadow:none;
    font-family: 'Android';
    font-family: 'Android';
   
}




main{
    background-color: white;
    margin: 0px 150px;
    padding: 10px;
    text-align: justify;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px black;
    
}
main strong{
    color: var(--cor4);
}
main img {
    width: 100%;
}
.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color:var(--cor5);
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative; 
   

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
    }


aside{
    border-radius: 10px;
    padding: 10px;
    background-color:var(--cor1);
    box-shadow: 3px 3px 8px black;
    margin-top: 20px;
}
h3{background-color:var(--cor4);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
 
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
 
   

    display: block;
    list-style-type: disc;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

aside > p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
footer{

    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 5px;
    padding: -5px;
    margin-top: 10px;
    font-family: 'bebas';
    
 
    
    
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

footer > p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 0px;
    font-family: 'bebas';
    

    
}
abbr{
    

 list-style-position: inside;
}











  
    
    

